body {
    background-color: #9C835F;
    position: absolute;
    background-repeat: no-repeat;
}

.box1 {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: saddlebrown;
    margin-left: -80px;
    margin-top: -10px;
}

.around1 {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background-color: black;
    margin-left: 1px;
    margin-top: 1px;
}

.around2 {
    position: absolute;
    width: 47px;
    height: 47px;
    border-radius: 100px;
    background-color: white;
    margin-top: 1.5px;
    margin-left: 1.5px;
}

#batu1,
#kertas1,
#gunting1,
#batu2,
#kertas2,
#gunting2 {
    position: absolute;
}

.active {
    position: absolute;
    background-color: #C4C4C4;
    border-radius: 10px;
}

#hasil {
    position: absolute;
    color: red;
    font-size: 50px;
    margin-left: 290px;
    margin-top: 210px;
}

.bg-draw {
    position: absolute;
    background-color: #035B0C;
    border-radius: 10px;
    transform: rotate(-30deg);
    margin-left: 260px !important;
    color: white !important;
    width: 150px !important;
    height: 60px !important;
    text-align: center !important;
}

.bg-win {
    position: absolute;
    background-color: #4C9654;
    border-radius: 10px;
    transform: rotate(-30deg);
    margin-left: 200px !important;
    color: white !important;
    width: 250px !important;
    height: 60px !important;
    text-align: center !important;
}